# Ignore node_modules and local development artifacts
node_modules
.next
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignore environment files and sensitive information
.env
.env.local
.env.*.local

# Ignore Docker and VSCode files
Dockerfile
.dockerignore
.vscode/

# Ignore Git files
.git
.gitignore

# Ignore build output
dist
build
